---
import Card from "../Card.astro"

interface Props {
  node: any
}

const { node } = Astro.props
console.log(node)
---

<div class="container mx-auto">
  <h1 class="text-center text-neutral-600 text-3xl my-8 dark:text-neutral-400">{node.name} - <span class="text-indigo-600 italic">Archive</span></h1>

  {
    node.posts.nodes.map((post: any) => {
      return <Card post={post} />
    })
  }
</div>
