---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Welcome to Astro." description="Astropress es un punto de partida para crear sitios web con Astro y WordPress.">
  <main class="flex flex-col items-center justify-center max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <h1><span class="text-gradient">AstroPress</span></h1>
    <p class="text-white text-base">Astropress es un punto de partida para crear sitios web con Astro y WordPress.</p>
  </main>
</Layout>

<style>
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
  }
  p {
    text-align: center;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
