---
import { ViewTransitions } from "astro:transitions"
import "@/base.css"
import Header from "@/components/Header.astro"
import Seo from "@/components/Seo.astro"

interface Props {
  title: string
  description?: string
  image?: string
}

const { title, description, image } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%2210 0 100 100%22><text y=%22.90em%22 font-size=%2290%22>🚀</text></svg>"
    /><meta name="generator" content={Astro.generator} /></head
  >

  <Seo title={title} description={description} image={image || "/og.png"} />
  <title>{title}</title>
  <ViewTransitions />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet" />

  <body>
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
      <Header />
      <slot />
    </div>
    <style is:global>
      :root {
        --accent: 136, 58, 234;
        --accent-light: 155, 10, 94;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--accent-light)) 30%, white 60%);
      }
      html {
        font-family:
          Inter,
          Inter var,
          system-ui,
          sans-serif;
        background: #13151a;
        background-size: 224px;
      }
    </style>
    <script is:inline data-astro-rerun src="/node_modules/preline/dist/preline.js"></script>
  </body>


</html>
